<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
    <div
      class="image d-flex flex-column justify-content-center align-items-center"
    >
    <img class="rounded-circle" src="http://localhost:3000/{{user.image}}"/>

      <span class="name mt-3">{{user.firstname+' '+ user.lastname}}</span>
      <span class="idd">@{{user.username}}</span>
      <div
        class="d-flex flex-row justify-content-center align-items-center gap-2"
      >
        <span class="idd1">{{user.mail}}</span>
        
      </div>
      <div
        class="d-flex flex-row justify-content-center align-items-center mt-3"
      >
        <span class="number">1069 <span class="follow">Followers</span></span>
      </div>
      
      
      <div
        class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"
      >
        <span><i class="fab fa-twitter"></i></span>
        <span><i class="fab fa-facebook-f"></i></span>
        <span><i class="fab fa-instagram"></i></span>
        <span><i class="fab fa-linkedin"></i></span>
      </div>
      
    </div>
  </div>
  
</div>
<div class="container">
  <div class="row justify-content-lg-between">
    <h3>Current Blogs</h3>
    <div class="card my-3" *ngFor="let blog of getSortData()">
      <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text summary">{{blog.body}}</p>
        <a routerLink="/blog/{{ blog.id }}" class="btn btn-primary">Go to Blog</a>
      </div>
    </div>
  </div>
</div>


