
<section class="blogs" id="blogs">
        
    <div class="container">
        
        <div class="row">
            

            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let blog of getSortData()">
                <div class="card" style="width: 18rem;">
                    <img src="img/dev1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{blog.title}}</h5>
                      <p class="card-text">{{blog.body}}</p>
                      <a routerLink="" class="btn btn-primary">Go somewhere</a>
                      <p class="blog-date">{{blog.createdAt | date:"d/M/yy, h:mm a"}}</p>
                      <p class="author">{{getFullName(blog)}} 
                          <!-- <span><i class="fas fa-user-plus    "></i></span> -->
                          <!-- <span></span> -->
                      </p>
                      <div class="react d-flex justify-content-between">
                          <div class="icon"><i class="fas fa-user-plus    "></i></div>
                          <div class="icon"><i class="fas fa-heart    "></i></div>
                      </div>
                      
                    </div>
                </div>
            </div>
            
            
            
            
            
        </div>
    </div>
</section>