.card{
    background-color: #0e1217!important;
    color: #fff;
    margin: 5% 0;
    /* width: 354px; */
}

/* .card .card-img-top{
    
    width: 354px;
    height: 236px;
    object-fit: cover;

} */
.author{
    cursor: pointer;

}
.author span{
    padding: 0 5px;
}
.author span:hover{
    color: #0dcaf0;
    cursor: pointer;
}
.react .icon{
    font-size: 1.2rem;
    cursor: pointer;
    
}
.react .icon:hover{
    color: rgb(224, 62, 62);
}
.edit-blog button{
    color: #fff !important;
}

.is-liked{
    color: rgb(224, 62, 62);

}

.input-group{
    width: 30%;
    margin: 0 auto;
}
.input-group input{
    background-color: #0e1217;
    border: none;
    color: #ffff;
}
.input-group  span{
    cursor: pointer;
}

nav .pagination{
    cursor: pointer;
}