
<section class="blogs" id="blogs">
    <div *ngIf="blogs.length ==0">No Blogs</div>    
    <div class="container">
        
        <div class="row">
            
        
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let blog of getSortData()">
                <div class="card" style="width: 18rem;">
                    <img src="http://localhost:3000/{{blog?.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{blog.title}}</h5>
                      <p class="card-text">{{blog.body}}</p>
                      <a routerLink="/blog/{{blog.id}}" class="btn btn-primary">Read More...</a>
                      <p class="blog-date">{{blog.createdAt | date:"d/M/yy, h:mm a"}}</p>
                      <p class="author">{{getFullName(blog)}} 
                          <!-- <span><i class="fas fa-user-plus    "></i></span> -->
                          <!-- <span></span> -->
                      </p>
                      <div class="react d-flex justify-content-between" *ngIf="checkUser()">
                          <div class="icon" *ngIf="!isFollow(blog)" (click)="followAuthor(blog.author._id.toString())"><i class="fas fa-user-plus    "></i></div>
                          <div class="icon"><i class="fas fa-heart    " (click)="giveLike(blog.id)"
                            [class.is-liked] = "isLike(blog.id)"
                            ></i></div>
                      </div>
                      <div class="update-delete d-flex justify-content-between">
                        <div class="delete-blog"><button type="button" class="btn btn-danger" *ngIf="hasBlog(blog)" (click)="deleteBlog(blog._id)">Delete</button></div>
                        <div class="edit-blog"><button type="button" class="btn btn-info" *ngIf="hasBlog(blog)" routerLink="/edit/{{blog.id}}">Edit</button></div>
                      </div>
                      
                    </div>
                </div>
            </div>
            
            
            
            
            
        </div>
    </div>
</section>