.card{
    background-color: #0e1217!important;
    color: #fff;
    margin: 5% 0;
}

.react .icon{
    font-size: 1.2rem;
    cursor: pointer;
    
}
.react .icon:hover{
    color: rgb(224, 62, 62);
}
.edit-blog button{
    color: #fff !important;
}

.is-liked{
    color: rgb(224, 62, 62);

}
