<section class="blogs" id="blogs">
  <div class="dispaly-1" *ngIf="blogs.length == 0">No Blogs</div>
  <div class="container">
    <div class="d-flex justify-content-start tags"><div class="px-2" *ngFor="let tag of tags" (click)="getByTag(tag)">#{{tag}}</div></div>    
    <div class="input-group rounded my-3">
      <input type="search" class="form-control rounded" #inputSearch placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
      <span class="input-group-text border-0" id="search-addon"  (click)="search(inputSearch.value)">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <div class="row">
      
      <div
        class="col-lg-4 col-md-6 col-sm-12"
        *ngFor="let blog of getSortData()"
      >
        <div class="card">
          <div
            class="author-details p-3 d-flex justify-content-start align-items-center"
          >
            <div
              class="img-wrapper"
              routerLink="/profile/{{ blog.author.username }}"
            >
              <img
                class="rounded-circle"
                src="http://localhost:3000/{{ blog.author?.image }}"
                alt=""
              />
            </div>
            <p class="author px-3">
              {{ getFullName(blog) }}
              <span
                class="icon"
                *ngIf="!hasBlog(blog) && !isFollow(blog)"
                (click)="followAuthor(blog.author._id.toString())"
                ><i class="fas fa-user-plus"></i
              ></span>
            </p>
          </div>
          

          <img
            src="http://localhost:3000/{{ blog?.image }}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div class="details-blog d-flex justify-content-end">
              <p class="blog-date">
                {{ blog.createdAt | date: "d/M/yy, h:mm a" }}
              </p>
            </div>
            <!-- <p class="author">
                {{ getFullName(blog) }}
                <span
                  class="icon"
                  *ngIf="!isFollow(blog)"
                  (click)="followAuthor(blog.author._id.toString())"
                  ><i class="fas fa-user-plus"></i
                ></span>
            </p> -->
            <h5 class="card-title">{{ blog.title }}</h5>
            <p class="card-text">{{ blog.body }}</p>
            <a routerLink="/blog/{{ blog.id }}" class="btn btn-primary"
              >Read More...</a
            >

            <div class="react d-flex justify-content-end" *ngIf="checkUser()">
              <div class="icon">
                <i
                  class="fas fa-heart"
                  (click)="giveLike(blog.id)"
                  [class.is-liked]="isLike(blog.id)"
                ></i>
              </div>
            </div>
            <div class="update-delete mt-2 d-flex justify-content-between">
              <div class="delete-blog">
                <button
                  type="button"
                  class="btn btn-danger"
                  *ngIf="hasBlog(blog)"
                  (click)="deleteBlog(blog._id)"
                >
                  Delete
                </button>
              </div>
              <div class="edit-blog">
                <button
                  type="button"
                  class="btn btn-info"
                  *ngIf="hasBlog(blog)"
                  routerLink="/edit/{{ blog.id }}"
                >
                  Edit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Pagination -->

      <nav
        class="d-flex justify-content-center"
        aria-label="Page navigation example"
      >
        <ul class="pagination my-3">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" (click)="getPagination(6, 0)">1</a></li> <!-- Get Request limit 6 skip 0 -->
          <li class="page-item"><a class="page-link" (click)="getPagination(6, 6)">2</a></li> <!-- Get Request limit 6 skip 6 -->
          <li class="page-item"><a class="page-link" (click)="getPagination(6, 12)">3</a></li> <!-- Get Request limit 6 skip 12 -->
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End Pagination -->
    </div>
  </div>
</section>
