
<section class="post">
  <div class="overlay"></div>

  <div class="container">
    <div class="row">
      <div class="title display-1 p-5 text-center">{{ blog?.title }}</div>
      <div class="img-wrapper">
        <img src="http://localhost:3000/{{blog?.image}}" alt="" />
      </div>
      <p class="blog-date">{{blog?.author?.firstname + " " + blog?.author.lastname}} | {{blog?.createdAt| date: 'd/M/yy, h:mm a'}}</p>
      <p class="text-center">
        {{ blog?.body }}
      </p>
      <div class="react d-flex justify-content-between" *ngIf="hasBlog(blog)">
        <div class="icon"><i class="fas fa-user-plus    "></i></div>
        <div class="icon"><i class="fas fa-heart    "></i></div>
    </div>
    </div>
  </div>
</section>
