<section class="vh-100">
  <div class="process-success text-center w-50 m-auto rounded" *ngIf="success">
    Login completed <span><i class="fas fa-heart"></i></span>
  </div>
  <div class="process-success text-center w-50 m-auto rounded" *ngIf="msgErr !== ''">
    {{msgErr}} <span><i class="fas fa-heart-broken"></i>
    </span>
  </div>
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid"
          alt="Phone image"
        />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <!-- UserName input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              id="form1Example13"
              class="form-control form-control-lg"
              placeholder="userName"
              formControlName="username"
              [class.is-invalid]="
                          loginForm.controls['username'].errors &&
                          loginForm.touched
                        "
            />
            <div *ngIf="loginForm.controls['username'].errors">
              <div
                *ngIf="
                  loginForm.controls['username'].errors[
                    'required'
                  ] && loginForm.touched
                "
              >
                required username
              </div>
              <div
                *ngIf="
                  loginForm.controls['username'].errors[
                    'minlength'
                  ]
                "
              >
                min length is 5
              </div>
              <div
                *ngIf="
                  loginForm.controls['username'].errors[
                    'maxlength'
                  ]
                "
              >
                max length is 10
              </div>
              <div
                *ngIf="
                  loginForm.controls['username'].errors['pattern']
                "
              >
                pattern
              </div>
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input
              type="password"
              id="form1Example23"
              class="form-control form-control-lg"
              placeholder="Password"
              formControlName="password"
              [class.is-invalid]="
                          loginForm.controls['password'].errors &&
                          loginForm.touched
                        "
            />
          </div>
          <div *ngIf="loginForm.controls['mail'].errors">
            <div
              *ngIf="
                loginForm.controls['mail'].errors['required'] &&
                loginForm.touched
              "
            >
              required mail
            </div>
            <div
              *ngIf="
                loginForm.controls['mail'].errors['minlength']
              "
            >
              min length is 5
            </div>
            <div
              *ngIf="
                loginForm.controls['mail'].errors['maxlength']
              "
            >
              max length is 10
            </div>
            <div
              *ngIf="
                loginForm.controls['mail'].errors['pattern']
              "
            >
              input at least one upper&&lower case&&special char
            </div>
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="form1Example3"
                checked
              />
              <label class="form-check-label" for="form1Example3">
                Remember me
              </label>
            </div>
            <a href="#!">Forgot password?</a>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Sign in
          </button>

          <!-- <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
            </div>
  
            <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!" role="button">
              <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
            </a>
            <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!" role="button">
              <i class="fab fa-twitter me-2"></i>Continue with Twitter</a> -->
        </form>
      </div>
    </div>
  </div>
</section>
